@font-face {
    font-display: swap; 
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/fraunces-v37-latin-regular.woff2') format('woff2');
  }

@import "tailwindcss";

*{
    box-sizing: border-box;
}
/* Asosiy yurish effekti */
@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.containers{
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-section{
    background-image: url("../src/assets/img/bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 1000px;
}

.ready-section{
    background-image: url("./assets/img/readyBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 650px;
}

.footer-section{
    background-image: url("./assets/img/FooterBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 888px;
}

.partner-marquee {
    width: 100%;
    overflow: hidden;
    background: transparent;
  }
  
  .partner-track {
    display: flex;
    width: fit-content;
    animation: slide 20s linear infinite;
  }
  
  .partner {
    height: 60px;
    margin: 0 20px;
  }
  
